# Virtual Environments
.venv/
**/.venv/
backend/.venv/
front-end/.venv/
venv/
env/

# Dependencies
node_modules/
**/node_modules/

# Files and Folders
.git/
.env
**/db.sqlite3
**/staticfiles/
**/media/
static/
media/
staticfiles/

# System
.DS_Store
Thumbs.db
desktop.ini
